# Godot 4+ specific ignores
.godot/
*.tmp
*.import
# Игнорировать файлы, относящиеся к ОС
.DS_Store
Thumbs.db

# Игнорировать системные папки IDE
.idea/
.vscode/
/addons
# Игнорировать скомпилированные файлы
*.log
*.pyc
*.pyo
*.exe
*.dll
*.so
*.dylib

# Игнорировать ассеты
#GIT LFS 

# Исключить из версионного контроля личные настройки
*.env
config/
